@import url(main.css);
@import url(formulario-login.css);

/*Cabeçalho*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background-color: var(--cor-nav-bar);
}

.usuario {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.usuario img {
  width: 10vw;
  border-radius: 10rem;
}

.usuario p {
  font-weight: bold;
  color: var(--cor-secundaria);
}

/* apliquei isto pois estava aparecendo u   m sublinhado de link nas imagens */
.icones-nav-bar a {
  text-decoration: none;
}

.icones-nav-bar img {
  width: 6vw;
}

.banner {
  padding: 0.5rem;
}

.banner img {
  /* essa config para fazer com que a imagem pare de ocupar o espaço invisivel e empurrar o layout */
  display: block;
  max-width: 100%;
  height: auto;

  border-radius: 1rem;
}

.container {
  padding: 1rem;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}
.container_horarios {
  background-color: rgb(45, 83, 78);
  width: 300px;
  height: 175px;
  border-radius: 15px;
}

.container_horarios .horarios {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.container_horarios .horarios h3 {
  font-size: 20px;
  color: white;
}

.container_horarios .descricao_visita p{
  text-align: center;
    color: white;
}
.container_horarios .agendar_horario{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.container_horarios .agendar_horario a button{
    background-color: blue;
    width: 225px;
    height: 45px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

